<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="accountDao" class="cn.demo.dao.impl.AccountDaoImpl"></bean>

    <bean id="logger" class="cn.demo.utils.Logger"></bean>

    <aop:config>
        <!-- 配置切入点表达式 id属性用于指定表达式的唯一标识。expression属性用于指定表达式内容
              此标签写在aop:aspect标签内部，只能当前切面使用。
              它可以写在aop:aspect外面，此时就变成了所有切面使用，注意位置要放在配置切面的前面，放后面报错
          -->
        <aop:pointcut id="pt" expression="execution(* *..*.*(..))"/>
        <aop:aspect id="logAdvice" ref="logger">
            <!-- 配置前置通知 -->
            <aop:before method="beforePrintLog" pointcut-ref="pt"></aop:before>
            <!-- 配置后置通知 -->
            <aop:after-returning method="afterReturningPrintLog" pointcut-ref="pt"></aop:after-returning>
            <!-- 配置异常通知 -->
            <aop:after-throwing method="afterThrowPrintLog" pointcut-ref="pt"></aop:after-throwing>
            <!-- 配置最终通知 -->
            <aop:after method="afterPrintLog" pointcut-ref="pt"></aop:after>
            <!-- 配置环绕通知 -->
            <aop:around method="aroundPrintLog" pointcut-ref="pt"></aop:around>
        </aop:aspect>
    </aop:config>

</beans>